.Stories {
  margin-top: 10rem;
  width: 90%;
  margin-left: 5%;
}

.Stories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
/*
@keyframes Stories-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
*/
