.Stories {
  margin-top: 10rem;
  width: 90%;
  margin-left: 5%;
}

.Stories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.main {
  margin-top: 10rem;
  margin-left: 5%;
  margin-bottom: -9rem;
}
.form {
  display: flex;
  margin-bottom: 2rem;
}
.input {
  width: 20rem;
  height: 3rem;
  border-color: blue;
}
.dropdown {
  padding-top: 4rem;
  margin-left: 89%;
  margin-bottom: -9rem;
}
/*
@keyframes Stories-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
*/
