.common {
  display: flex;
}

.sidebar {
  margin-top: 5rem;
  top: 5rem;
  position: sticky;
  background-color: #0866ff;
  height: 100vh;
}

.component {
  width: 100%;
  margin-block-end: 10rem;
}
